# 自行配置
OpenAI_API_KEY=YOUR_OPENAI_API_KEY
LLM_MODEL=YOUR_LLM_MODEL
MODEL_BASE_URL=YOUR_MODEL_BASE_URL
LLM_TEMPERATURE=0.7

# 默认配置
FASTAPI_URL=http://localhost:8000
GLOBAL_LLM_SEMAPHORE=10
LOG_LEVEL=info